<div
  class="h-112 w-9/12 shadow-glass rounded-3xl border-black bg-white bg-opacity-25 backdrop-filter mx-auto relative"
>
  <div class="bg-white rounded-t-3xl h-10 border-black">
    <img [src]="carIcon" alt="bmw icon" class="h-12 w-20 pl-8" />
  </div>
  <div class="md:flex md:flex-col md:w-1/2">
    <h1 class="text-center text-white font-semibold lg:mt-12">BMW M235i</h1>
    <div class="text-white grid grid-cols-2 gap-4 text-center lg:mt-12">
      <div>
        <h3 class="text-black text-xs font-medium">Engine</h3>
        <h2 class="pr-3 font-semibold text-sm">N55</h2>
      </div>
      <div>
        <h3 class="text-black text-xs font-medium">Generation</h3>
        <h2 class="pr-3 font-semibold text-sm">F22(2014-2016)</h2>
      </div>
      <div>
        <h3 class="text-black text-xs font-medium">Horsepower</h3>
        <h2 class="pr-3 font-semibold text-sm">322 hp</h2>
      </div>
      <div>
        <h3 class="text-black text-xs font-medium">0-60</h3>
        <h2 class="pr-3 font-semibold text-sm">4.5(s)</h2>
      </div>
    </div>
    <img
      [src]="carImage"
      alt="bmw m235i"
      class="absolute sm:h-80 sm:right-14 bottom-0"
    />
  </div>
</div>
