<div
  class="h-112 w-9/12 shadow-glass rounded-3xl bg-black bg-opacity-90 backdrop-filter mx-auto relative border-2 border-black"
>
  <div class="bg-white rounded-t-3xl h-10 border-black">
    <app-nav></app-nav>
  </div>
  <div class="md:flex md:flex-col md:w-1/2 text-center">
    <h1 class="text-white font-semibold lg:mt-12 text-2xl text-center">
      SPECS
    </h1>
    <span class="text-red-700" *ngIf="isError">
      Sorry, an error occurred. 
      {{ errorStatus }}: {{ errorStatusText }}
    </span>
    <img
      [src]="carImageFront"
      alt="bmw m235i"
      class="absolute sm:h-80 sm:right-14 bottom-0"
    />
  </div>
</div>
