<nav class="pr-8 h-full flex items-center justify-between">
  <a routerLink="/"
    ><img
      [src]="carIcon"
      alt="bmw icon"
      class="h-12 w-20 pl-8 -mt-1 flex justify-between"
  /></a>

  <ul class="hidden md:flex text-sm w-28 justify-between h-full items-center">
    <li
      class="flex h-full items-center hover:border-b-2 hover:border-red-700 cursor-pointer hover:pt-0.5"
    >
      <a routerLink="/specs">Specs</a>
    </li>
    <li
      class="flex h-full items-center hover:border-b-2 hover:border-red-700 cursor-pointer hover:pt-0.5"
    >
      <a routerLink="/photos">Photos</a>
    </li>
  </ul>
  <div class="flex md:hidden">
    <button (click)="visibilityBoolean = !visibilityBoolean">
      <i class="fas fa-bars cursor-pointer"></i>
    </button>

    <div
      class="origin-top-right absolute right-0 mt-8 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5"
      *ngIf="visibilityBoolean"
    >
      <div
        class="py-1"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="options-menu"
      >
        <a
          routerLink="/"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
          role="menuitem"
          >Home</a
        >
        <a
          routerLink="/specs"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
          role="menuitem"
          >Specs</a
        >
        <a
          routerLink="/photos"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
          role="menuitem"
          >Photos</a
        >
      </div>
    </div>
  </div>
</nav>
